<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Detalle de Iglesia<i class="fas fa-person-carry    "></i></div>
  <div class="page__content shadow p-3 position-relative">

<div class="container">
  <div class="row" *ngIf="iglesia">
    <div class="col-md-11 mx-auto">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <br>
                <img [src]="urlImagen" width="200px" height="200px">
              </li>
              <li class="list-group-item"><b>ID: </b>{{iglesia.id}}</li>
              <li class="list-group-item"><b>Nombre: </b>{{iglesia.nombre}}</li>
              <li class="list-group-item"><b>Direcci&oacute;n: </b>{{iglesia.direccion}}</li>
              <li class="list-group-item"><b>Pais: </b>{{iglesia.pais}}</li>
              <li class="list-group-item"><b>Tel&eacute;fono: </b>{{iglesia.telefono}}</li>
              <li class="list-group-item"><b>Fecha Fundaci&oacute;n: </b>{{fechaMostrar}}</li>
              <li class="list-group-item"><b>Estado: </b>{{iglesia.estado}}</li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>

    </div>
</div>
</div>


  </div>
</div>
