<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Iglesia</div>
  <div class="page__content shadow p-3 position-relative">

      <div class="container">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Ver</th>
              <th scope="col" *ngIf="isAdmin">Editar</th>
              <th scope="col" *ngIf="isAdmin">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let iglesia of Iglesias">
              <td>{{iglesia.id}}</td>
              <td>{{iglesia.nombre}}</td>
              <td><button class="btn btn-outline-primary" routerLink="/dashboard/iglesia/detalle/{{iglesia.id}}"><i class="far fa-eye"></i> Ver</button></td>
              <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/dashboard/iglesia/editar/{{iglesia.id}}"><i class="far fa-edit"></i> Editar</button></td>
              <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="borrar(iglesia.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
            </tr>
          </tbody>
        </table>
        <div class="mt-3" *ngIf="isAdmin">
          <button class="btn btn-outline-success btn-lg" routerLink="/dashboard/iglesia/nuevo">
            <i class="fas fa-plus-circle"></i> Nueva Iglesia</button>
        </div>

  </div>
</div>
