<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Tipo Registro <i class="fas fa-person-carry    "></i></div>
  <div class="page__content shadow p-3 position-relative">

      <div class="container">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Descripci&oacute;n</th>
              <th scope="col">Contabilizaci&oacute;n</th>
              <th scope="col">Ver</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>

              <tr *ngFor="let tipoRegistro of TiposRegistro">
                <td>{{tipoRegistro.id}}</td>
                <td>{{tipoRegistro.descripcion}}</td>
                <td>{{tipoRegistro.tipoContabilizacion}}</td>
                <td><button class="btn btn-outline-primary" routerLink="/dashboard/tipo_registro/detalle/{{tipoRegistro.id}}"><i class="far fa-eye"></i> Ver</button></td>
              <td><button class="btn btn-outline-warning" routerLink="/dashboard/tipo_registro/editar/{{tipoRegistro.id}}"><i class="far fa-edit"></i> Editar</button></td>
              <td><button class="btn btn-outline-danger" (click)="borrar(tipoRegistro.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
              </tr>
          </tbody>
        </table>
        <div class="mt-3">
          <button class="btn btn-outline-success btn-lg" routerLink="/dashboard/tipo_registro/nuevo">
            <i class="fas fa-plus-circle"></i> Nuevo Tipo Registro</button>
        </div>
  </div>
</div>
