<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Editar Tipo Persona <i class="fas fa-person-carry    "></i></div>
  <div class="page__content shadow p-3 position-relative">


<div class="container" *ngIf="tipoPersona">
  <div class="row">
      <div class="col-md-11 mx-auto">
        <form novalidate (ngSubmit)="onUpdate()" [formGroup]="formTipoPersona">
          <div class="form-group">
            <mat-label>Descripci&oacute;n </mat-label>
            <input formControlName="descripcion" name="descripcion" class="form-control" type="text" />
          </div>
          <div class="alert alert-danger"
            *ngIf="formTipoPersona.get('descripcion')?.hasError('required') && formTipoPersona.get('descripcion')?.touched">
            Campo requerido
          </div>

          <div class="form-group">
            <mat-label>Estado</mat-label>
            <mat-select  matNativeControl class="form-control" formControlName="estado" name="estado">
              <mat-option value="ACTIVO">ACTIVO</mat-option>
              <mat-option value="INACTIVO">INACTIVO</mat-option>
            </mat-select >
          </div>
          <br>
          <div class="card-footer">
          <button class="btn btn-outline-success btn-block" [disabled]="formTipoPersona.invalid">
            <i class="fas fa-pencil-alt"></i> Actualizar</button>
            &nbsp;&nbsp;<button class="btn btn-outline-primary btn-block" (click)="volver()">
            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
        </form>
      </div>
  </div>


  </div>
</div>
