<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Nuevo Evento<i class="fas fa-person-carry    "></i></div>
  <div class="page__content shadow p-3 position-relative">

<div class="container">
  <div class="row">
    <div class="col-md-11 mx-auto">
        <form novalidate  (ngSubmit)="onCreate()"  [formGroup]="formEvento">

          <div class="form-group">
            <mat-label>Descripcion </mat-label>
            <input name="descripcion"  class="form-control" formControlName="descripcion" type="text" />
          </div>
          <div class="alert alert-danger"
            *ngIf="formEvento.get('descripcion')?.hasError('required') && formEvento.get('descripcion')?.touched">
            Campo requerido
          </div>

          <div class="form-group">
            <mat-label>Fecha: </mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="fecha"
            class="form-control" (dateChange)="onDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          </div>
          <div class="alert alert-danger"
          *ngIf="formEvento.get('fecha')?.hasError('required') && formEvento.get('fecha')?.touched">
          Campo requerido
          </div>

          <div class="form-group">
            <mat-label>Tipo Evento</mat-label>
            <mat-select  matNativeControl class="form-control" formControlName="tipo_evento_id" name="tipo_evento_id" required>
               <mat-option *ngFor="let tipo of TiposEventos" [value]="tipo.id">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select >
          </div>
          <div class="alert alert-danger"
            *ngIf="formEvento.get('tipo_evento_id')?.hasError('required') && formEvento.get('tipo_evento_id')?.touched">
            Campo requerido
          </div>

          <br>
          <div class="card-footer">
          <button class="btn btn-outline-success btn-block" [disabled]="formEvento.invalid">
            <i class="fas fa-plus-circle"></i> Crear</button>
          <button class="btn btn-outline-primary btn-block" (click)="volver()">
            <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
        </form>
      </div>
  </div>
</div>
</div>
</div>

