<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/home">
    <mat-icon>home</mat-icon> Inicio
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/iglesia/listar">
    <mat-icon>domain</mat-icon> Iglesias
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard//miembro/listar">
    <mat-icon>person</mat-icon> Miembros
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard//evento/listar">
    <mat-icon>event</mat-icon> Eventos
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard//movimiento/listar">
    <mat-icon>attach_money</mat-icon> Finanzas
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard//cierre/listar">
    <mat-icon>money</mat-icon> Cierres
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard//auditoria/listar">
    <mat-icon>style</mat-icon> Auditoria
  </a>

</mat-nav-list>
