<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Nuevo Tipo Evento <i class="fas fa-person-carry    "></i></div>
  <div class="page__content shadow p-3 position-relative">

    <div class="container">
      <div class="row">
        <div class="col-md-11 mx-auto">
            <form novalidate  (ngSubmit)="onCreate()"  [formGroup]="formTipoEvento">
              <div class="form-group">
                <mat-label>Descripci&oacute;n </mat-label>
                <input name="descripcion"  class="form-control" formControlName="descripcion" type="text" />
              </div>
              <div class="alert alert-danger"
                *ngIf="formTipoEvento.get('descripcion')?.hasError('required') && formTipoEvento.get('descripcion')?.touched">
                Campo requerido
              </div>
              <br>
              <div class="card-footer">
              <button class="btn btn-outline-success btn-block" [disabled]="formTipoEvento.invalid">
                <i class="fas fa-plus-circle"></i> Crear</button>
                &nbsp;&nbsp;<button class="btn btn-outline-primary btn-block" (click)="volver()">
                <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>
            </form>
          </div>
      </div>
    </div>

  </div>
</div>


